<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 ">
            <% if(flash && flash.alert) { %>
            <div class="alert alert-<%- flash.alert[0] %>  alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <%- flash.alert[1] %>
            </div>
            <% } %>
            <form method="POST" action="/auth/login" class="login-form">
                <h2>Connectez vous ...</h2>

                <div class="form-group">
                    <!--<label for="email">Email :</label>-->
                    <input name="email" type="text" id="email" class="form-control login-field" placeholder="Entrez votre mail prigogine" />
                    <label class="login-field-icon fui-user" for="email"></label>
                </div>
                <div class="form-group">
                    <!--<label for="password">Mot de Passe :</label>-->
                    <input type="password" name="password" id="password" class="form-control login-field"  placeholder="Entrez votre mot de passe"/>
                    <label class="login-field-icon fui-lock" for="password"></label>
                </div>
                <input type='hidden' name='_csrf' value='<%= _csrf %>'/>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Connexion</button>
                <a class="btn btn-inverse btn-lg  btn-block"  href="/auth/sign-up">
                    Pas encore inscrit ?
                </a>
                <a class="login-link" href="/auth/forgot-password">Mot de passe oublié?</a>


            </form>
        </div>
    </div>
</div>
