<div class="col-lg-12" ng-app="organitech">
    <h2>Gestion des Type d'Exercices </h2>

    <div class="login-form">
        <div ng-controller="TypeExerciceCtrl as typeExercice">
            <button class="btn btn-large btn-success" ng-click="typeExercice.switchToCreateState();">Nouveau</button>
            <button class="btn btn-large btn-success"
                    confirmed-click="typeExercice.refresh();"
                    ng-confirm-click="Veuillez sauvegarder avant de rafraichir, sinon vous perdrez tout ! Etes-vous sur de vouloir continuer">
                Rafraichir
            </button>
            <div class="row" ng-if="!typeExercice.isEmpty">
                <div class="col-lg-4 exercice-angular-divInfiniteScroll">
                    <div class="exercice-angular-liste" infinite-scroll='typeExercice.nextTypeExercices()'
                         infinite-scroll-parent=true>
                        <li ng-repeat="tpExo in typeExercice.typeExercices" class="list-group">
                            <a href="#" ng-click="typeExercice.changeCurrentTypeExerciceDisplayed($index)"
                               class="list-group-item active ">
                                <button class="btn btn-danger btn-right"
                                        confirmed-click="typeExercice.deleteTypeExercice($index)"
                                        ng-confirm-click="Etes vous sur de vouloir suprimer ce type d'Exercice DEFINITIVEMENT ?"
                                        >Supprimer
                                </button>
                                {{tpExo.name}}
                            </a>
                        </li>
                    </div>
                </div>

                <toaster-container toaster-options="{'closeButton': true,
                                              'debug': false,
                                              'progressBar': true,
                                              'positionClass': 'toast-top-right',
                                              'onclick': null,
                                              'showDuration': '300',
                                              'hideDuration': '1000',
                                              'timeOut': '5000',
                                              'extendedTimeOut': '1000',
                                              'showEasing': 'swing',
                                              'hideEasing': 'linear',
                                              'showMethod': 'fadeIn',
                                              'hideMethod': 'fadeOut'}"></toaster-container>

                <div class="col-lg-8 exercice-angular-form">
                    <form role="form" id="form-typeExercice" name="form" novalidate>
                        <div class="form-group">
                            <label for="name">Nom du type d'Exercice</label>
                            <input validator="required" type="text" class="form-control login-field" id="name"
                                   placeholder="Entrez le nom du type d'Exercice" name="name"
                                   ng-model="typeExercice.currentTypeExercice.name" autofocus>
                        </div>

                        <div class="form-group">
                            <label for="couleur">Couleur du type d'Exercice</label>
                            {{exercice.currentTypeExercice.couleur}}

                            <select id="couleur" name="couleur" class="form-control"
                                    ng-model="typeExercice.currentTypeExercice.couleur"
                                    ng-options="couleur as couleur for couleur in typeExercice.couleurs">
                                <option style="display:none" value="">Please select a value</option>
                            </select>
                            <hr>
                        </div>

                        <button validation-submit="form" type="submit" class="btn btn-success btn-wide"
                                ng-if="typeExercice.isCreating" ng-click="typeExercice.createTypeExercice()">Sauvegarder
                        </button>
                        <button validation-submit="form" type="submit" class="btn btn-success btn-wide"
                                ng-if="!typeExercice.isCreating" ng-click="typeExercice.updateTypeExercice()">Mettre a
                            jours
                        </button>

                        <!--AFFICHE FORM : {{form | json}}-->
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" ng-if="typeExercice.isEmpty">
                    Il n' y a pas de type d'Exercice enregistré, veuillez en créer
                </div>
            </div>
        </div>
    </div>
</div>