<div class="col-lg-12" ng-app="organitech">
    <h2>Gestion des Type de Kit </h2>

    <div class="login-form">
        <div ng-controller="TypeKitCtrl as typeKit">
            <button class="btn btn-large btn-success" ng-click="typeKit.switchToCreateState();">Nouveau</button>
            <button class="btn btn-large btn-success"
                    confirmed-click="typeKit.refresh();"
                    ng-confirm-click="Veuillez sauvegarder avant de rafraichir, sinon vous perdrez tout ! Etes-vous sur de vouloir continuer?">
                Rafraichir
            </button>
            <div class="row" ng-if="!typeKit.isEmpty">
                <div class="col-lg-4 exercice-angular-divInfiniteScroll">
                    <div class="exercice-angular-liste" infinite-scroll=' typeKit.nextTypeKits()'
                         infinite-scroll-parent=true>
                        <li ng-repeat="tpK in typeKit.typeKits" class="list-group">
                            <a href="#" ng-click="typeKit.changeCurrentTypeKitDisplayed($index)"
                               class="list-group-item active ">
                                <button class="btn btn-danger btn-right"
                                        confirmed-click="typeKit.deleteTypeKit($index)"
                                        ng-confirm-click="Etes vous sur de vouloir suprimer cet type de kit DEFINITIVEMENT ?"
                                        >Supprimer
                                </button>
                                {{tpK.name}}
                            </a>
                        </li>
                    </div>
                </div>

                <toaster-container toaster-options="{'closeButton': true,
                                              'debug': false,
                                              'progressBar': true,
                                              'positionClass': 'toast-top-right',
                                              'onclick': null,
                                              'showDuration': '300',
                                              'hideDuration': '1000',
                                              'timeOut': '5000',
                                              'extendedTimeOut': '1000',
                                              'showEasing': 'swing',
                                              'hideEasing': 'linear',
                                              'showMethod': 'fadeIn',
                                              'hideMethod': 'fadeOut'}"></toaster-container>

                <div class="col-lg-8 exercice-angular-form">
                    <form role="form" id="form-typeKit" name="form" novalidate>
                        <div class="form-group">
                            <label for="name">Nom du type de Kit</label>
                            <input validator="required" type="text" class="form-control login-field" id="name"
                                   placeholder="Entrez le nom du type de kit" name="name"
                                   ng-model="typeKit.currentTypeKit.name" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="checkbox">Cochez tous les matériels présents dans le kit</label>
                            </br>
                            <label ng-repeat="mat in typeKit.materiels">
                                <input type="checkbox" id="{{mat.id}}" name="{{mat.nom}}"
                                       ng-checked="typeKit.checkIfChecked(mat)"
                                       ng-click="typeKit.toggleSelection(mat)"/> {{mat.nom}} </br>
                            </label>

                        </div>

                        <button validation-submit="form" type="submit" class="btn btn-success btn-wide"
                                ng-if="typeKit.isCreating" ng-click="typeKit.createTypeKit()">Sauvegarder
                        </button>
                        <button validation-submit="form" type="submit" class="btn btn-success btn-wide"
                                ng-if="!typeKit.isCreating" ng-click="typeKit.updateTypeKit()">Mettre a jours
                        </button>

                        <!--AFFICHE FORM : {{form | json}}-->
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" ng-if="typeKit.isEmpty">
                    Il n' y a pas de type de kit enregistré, veuillez en créer
                </div>
            </div>
        </div>
    </div>
</div>