<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1>Organitech</h1>

                <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac
                    cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

                <p><a class="btn btn-primary btn-lg btn-block" href="/auth/login" role="button">Connexion</a></p>
            </div>
        </div>
    </div>
</div>
