<!DOCTYPE html>
<html>
<head>
    <title>Organitech</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/fullcalendar.css">
    <link rel="stylesheet" href="/styles/fullcalendar.print.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/loading-bar.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/select.min.css">
    <link rel="stylesheet" href="/styles/select2.css">
    <link rel="stylesheet" href="/styles/sweet-alert.css">
    <link rel="stylesheet" href="/styles/toaster.css">
    <!--STYLES END-->
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top " role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-03">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <% if(!req.isAuthenticated()) { %>
        <a class="navbar-brand" href="/auth/login">Organitech</a>
        <% } else { %>
        <a class="navbar-brand" href="/dashboard">Organitech</a>
        <% } %>

    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-03">
        <% if(!req.isAuthenticated()) { %>
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/auth/login">Connexion</a></li>
                <li class="active"><a href="/auth/sign-up/">Inscription</a></li>
            </ul>
        </div>
        <% } else { %>
        <div class="container">
            <ul class=" nav navbar-nav">

                <% if (_.intersection(_.pluck(req.user.userlevel, 'name'), ['admin', 'teacher', 'student']).length) { %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Exercices <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/exercices/inscription">Inscription</a></li>

                    </ul>
                </li>
                <% } %>

                <% if (_.intersection(_.pluck(req.user.userlevel, 'name'), ['admin', 'teacher']).length) { %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestion <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/exercices/dashboard">Exercices</a></li>
                        <li><a href="/evaluations/dashboard">Evaluations</a></li>
                        <li><a href="/admins/team">Equipes</a></li>
                    </ul>
                </li>
                <% } %>
                <% if (_.intersection(_.pluck(req.user.userlevel, 'name'), ['admin']).length) { %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/materiels/dashboard">Materiels</a></li>
                        <li><a href="/typeKits/dashboard">Types de Kits</a></li>
                        <li><a href="/kits/dashboard">Kits</a></li>
                        <li><a href="/roles/dashboard">Rôles </a></li>
                        <li><a href="/typeExercices/dashboard">Types d'Exercices</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestion d'Utilisateurs <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admins/user">Rôle </a></li>
                        <li><a href="/admins/userSearch">Recherche</a></li>
                    </ul>
                </li>
                <% } %>
                <% if(req.isAuthenticated()) { %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle navbar-text"
                       data-toggle="dropdown">Bienvenue <%= req.user.first_name %> <%= req.user.last_name %> <b
                                class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admins/profil">Profil</a></li>
                        <li><a href="/auth/logout">Déconnexion</a></li>
                    </ul>
                </li>
                <% } %>
            </ul>
        </div>
        <% } %>


        <!--
        <% if(req.isAuthenticated()) { %>
            <a href="/admins/profil" class="navbar-text">Bienvenue <%= req.user.first_name %></a>

            <form class="navbar-form navbar-right" action="#" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                    <span class="input-group-btn">
                        <button type="submit" class="btn"><span class="fui-search"></span></button>
                    </span>
                    </div>
                </div>
            </form>
        <% } %>-->
    </div>
    <!-- /.navbar-collapse -->
</nav>
<%- body %>



<!--
    Client-side Templates
    ========================

    HTML templates are important prerequisites of modern, rich client applications.
    To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
    that you load these templates client-side.

    By default, your Gruntfile is configured to automatically load and precompile
    client-side JST templates in your `assets/templates` folder, then
    include them here automatically (between TEMPLATES and TEMPLATES END).

    To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
    For example, here are a few things you could do:

        + Import templates from other directories
        + Use a different template engine (handlebars, jade, dust, etc.)
        + Internationalize your client-side templates using a server-side
          stringfile before they're served.
-->


<!--TEMPLATES-->
<script type="text/javascript" src="/jst.js"></script>
<!--TEMPLATES END-->


<!--

  Client-side Javascript
  ========================

  You can always bring in JS files manually with `script` tags, or asynchronously
  on the client using a solution like AMD (RequireJS).  Or, if you like, you can
  take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

  By default, files in your `assets/js` folder are included here
  automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
  CoffeeScript (.coffee) are supported. In production, your scripts will be minified
  and concatenated into a single file.

  To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
  For example, here are a few things you could do:

      + Change the order of your scripts
      + Import scripts from other directories
      + Use a different preprocessor, like TypeScript

-->

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery.min.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script src="/js/dependencies/angular.min.js"></script>
<script src="/js/dependencies/select.js"></script>
<script src="/js/dependencies/angular-resource.min.js"></script>
<script src="/js/dependencies/angular-locale_fr-be.js"></script>
<script src="/js/dependencies/loading-bar.js"></script>
<script src="/js/dependencies/ui-bootstrap-tpls.min.js"></script>
<script src="/js/config/validation.js"></script>
<script src="/js/dependencies/customValidation.js"></script>
<script src="/js/dependencies/angular-animate.min.js"></script>
<script src="/js/dependencies/angular-sanitize.js"></script>
<script src="/js/dependencies/angular-strap.min.js"></script>
<script src="/js/dependencies/angular-strap.tpl.min.js"></script>
<script src="/js/dependencies/angular-touch.min.js"></script>
<script src="/js/dependencies/angular-validation.js"></script>
<script src="/js/dependencies/calendar.js"></script>
<script src="/js/dependencies/fullcalendar.min.js"></script>
<script src="/js/dependencies/jquery-ui.min.js"></script>
<script src="/js/dependencies/jquery.validate.min.js"></script>
<script src="/js/dependencies/lodash.min.js"></script>
<script src="/js/dependencies/messages_fr.js"></script>
<script src="/js/dependencies/moment.js"></script>
<script src="/js/dependencies/moment.min.js"></script>
<script src="/js/dependencies/ng-infinite-scroll.min.js"></script>
<script src="/js/dependencies/smart-table.min.js"></script>
<script src="/js/dependencies/sweet-alert.min.js"></script>
<script src="/js/dependencies/toaster.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controller/AdminTeamCtrl.js"></script>
<script src="/js/controller/AdminUserCtrl.js"></script>
<script src="/js/controller/DashboardCalendarCtrl.js"></script>
<script src="/js/controller/EvaluationCtrl.js"></script>
<script src="/js/controller/ExerciceCtrl.js"></script>
<script src="/js/controller/ExerciceUserCtrl.js"></script>
<script src="/js/controller/KitCtrl.js"></script>
<script src="/js/controller/MaterielCtrl.js"></script>
<script src="/js/controller/ModalManageUserRoleCtrl.js"></script>
<script src="/js/controller/ProfilCtrl.js"></script>
<script src="/js/controller/RoleCtrl.js"></script>
<script src="/js/controller/SearchCtrl.js"></script>
<script src="/js/controller/TypeExerciceCtrl.js"></script>
<script src="/js/controller/TypeKitCtrl.js"></script>
<script src="/js/service/EvaluationApiService.js"></script>
<script src="/js/service/ExerciceApiService.js"></script>
<script src="/js/service/KitApiService.js"></script>
<script src="/js/service/LocationApiService.js"></script>
<script src="/js/service/MailerApiService.js"></script>
<script src="/js/service/MaterielApiService.js"></script>
<script src="/js/service/RoleApiService.js"></script>
<script src="/js/service/TeamApiService.js"></script>
<script src="/js/service/TeamUserApiService.js"></script>
<script src="/js/service/TokenApiService.js"></script>
<script src="/js/service/TypeExerciceApiService.js"></script>
<script src="/js/service/TypeKitApiService.js"></script>
<script src="/js/service/UserApiService.js"></script>
<script src="/js/service/UserLevelApiService.js"></script>
<script src="/js/directive/angucomplete.js"></script>
<script src="/js/directive/ngConfirmClickDirective.js"></script>
<script src="/js/dependencies/Flat UI/radiocheck.js"></script>
<script src="/js/dependencies/locale/af.js"></script>
<script src="/js/dependencies/locale/ar-ma.js"></script>
<script src="/js/dependencies/locale/ar-sa.js"></script>
<script src="/js/dependencies/locale/ar.js"></script>
<script src="/js/dependencies/locale/az.js"></script>
<script src="/js/dependencies/locale/be.js"></script>
<script src="/js/dependencies/locale/bg.js"></script>
<script src="/js/dependencies/locale/bn.js"></script>
<script src="/js/dependencies/locale/bo.js"></script>
<script src="/js/dependencies/locale/br.js"></script>
<script src="/js/dependencies/locale/bs.js"></script>
<script src="/js/dependencies/locale/ca.js"></script>
<script src="/js/dependencies/locale/cs.js"></script>
<script src="/js/dependencies/locale/cv.js"></script>
<script src="/js/dependencies/locale/cy.js"></script>
<script src="/js/dependencies/locale/da.js"></script>
<script src="/js/dependencies/locale/de-at.js"></script>
<script src="/js/dependencies/locale/de.js"></script>
<script src="/js/dependencies/locale/el.js"></script>
<script src="/js/dependencies/locale/en-au.js"></script>
<script src="/js/dependencies/locale/en-ca.js"></script>
<script src="/js/dependencies/locale/en-gb.js"></script>
<script src="/js/dependencies/locale/eo.js"></script>
<script src="/js/dependencies/locale/es.js"></script>
<script src="/js/dependencies/locale/et.js"></script>
<script src="/js/dependencies/locale/eu.js"></script>
<script src="/js/dependencies/locale/fa.js"></script>
<script src="/js/dependencies/locale/fi.js"></script>
<script src="/js/dependencies/locale/fo.js"></script>
<script src="/js/dependencies/locale/fr-ca.js"></script>
<script src="/js/dependencies/locale/fr.js"></script>
<script src="/js/dependencies/locale/gl.js"></script>
<script src="/js/dependencies/locale/he.js"></script>
<script src="/js/dependencies/locale/hi.js"></script>
<script src="/js/dependencies/locale/hr.js"></script>
<script src="/js/dependencies/locale/hu.js"></script>
<script src="/js/dependencies/locale/hy-am.js"></script>
<script src="/js/dependencies/locale/id.js"></script>
<script src="/js/dependencies/locale/is.js"></script>
<script src="/js/dependencies/locale/it.js"></script>
<script src="/js/dependencies/locale/ja.js"></script>
<script src="/js/dependencies/locale/ka.js"></script>
<script src="/js/dependencies/locale/km.js"></script>
<script src="/js/dependencies/locale/ko.js"></script>
<script src="/js/dependencies/locale/lb.js"></script>
<script src="/js/dependencies/locale/lt.js"></script>
<script src="/js/dependencies/locale/lv.js"></script>
<script src="/js/dependencies/locale/mk.js"></script>
<script src="/js/dependencies/locale/ml.js"></script>
<script src="/js/dependencies/locale/mr.js"></script>
<script src="/js/dependencies/locale/ms-my.js"></script>
<script src="/js/dependencies/locale/my.js"></script>
<script src="/js/dependencies/locale/nb.js"></script>
<script src="/js/dependencies/locale/ne.js"></script>
<script src="/js/dependencies/locale/nl.js"></script>
<script src="/js/dependencies/locale/nn.js"></script>
<script src="/js/dependencies/locale/pl.js"></script>
<script src="/js/dependencies/locale/pt-br.js"></script>
<script src="/js/dependencies/locale/pt.js"></script>
<script src="/js/dependencies/locale/ro.js"></script>
<script src="/js/dependencies/locale/ru.js"></script>
<script src="/js/dependencies/locale/sk.js"></script>
<script src="/js/dependencies/locale/sl.js"></script>
<script src="/js/dependencies/locale/sq.js"></script>
<script src="/js/dependencies/locale/sr-cyrl.js"></script>
<script src="/js/dependencies/locale/sr.js"></script>
<script src="/js/dependencies/locale/sv.js"></script>
<script src="/js/dependencies/locale/ta.js"></script>
<script src="/js/dependencies/locale/th.js"></script>
<script src="/js/dependencies/locale/tl-ph.js"></script>
<script src="/js/dependencies/locale/tr.js"></script>
<script src="/js/dependencies/locale/tzm-latn.js"></script>
<script src="/js/dependencies/locale/tzm.js"></script>
<script src="/js/dependencies/locale/uk.js"></script>
<script src="/js/dependencies/locale/uz.js"></script>
<script src="/js/dependencies/locale/vi.js"></script>
<script src="/js/dependencies/locale/zh-cn.js"></script>
<script src="/js/dependencies/locale/zh-tw.js"></script>
<script src="/js/dependencies/angular-strap/collapse.min.js"></script>
<script src="/js/dependencies/angular-strap/date-parser.min.js"></script>
<script src="/js/dependencies/angular-strap/datepicker.min.js"></script>
<script src="/js/dependencies/angular-strap/datepicker.tpl.min.js"></script>
<script src="/js/dependencies/angular-strap/dimensions.min.js"></script>
<script src="/js/dependencies/angular-strap/tooltip.min.js"></script>
<script src="/js/dependencies/angular-strap/tooltip.tpl.min.js"></script>
<script src="/js/main.js"></script>
<!--SCRIPTS END-->
</body>

</html>

