<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <% if(flash && flash.alert) { %>
            <div class="alert alert-<%- flash.alert[0] %>  alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <%- flash.alert[1] %>
            </div>
            <% } %>
            <form action="/users/forgotPasswordSend" id="form-forgotPassword" class="form-signin" method="POST">
                <h2 class="form-signin-heading">Retrouver mot de passe</h2>


                <div class="control-group">
                    <input id="email" name="email" type="text" placeholder="Email" class="form-control">
                </div>

                <div class="control-group">
                    <input name="confMail" type="text" placeholder="Confirmation email" class="form-control">
                </div>

                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Envoyer">
                <input name="_csrf" type="hidden" value="<%= _csrf %>">
            </form>
        </div>
    </div>
</div>
