<div class="container">

    <div class="row">
        <div class="col-lg-12">
              <% if(flash && flash.alert) { %>
            <div class="alert alert-<%-flash.alert[0]%> alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <%-flash.alert[1]%>
            </div>
            <% } %>
        </div>
        <div class="col-lg-12">

            <form action="/users/create" id="form-signup" class="login-form" method="POST">
                <h2 class="">Inscription</h2>

                <div class="form-group">
                    <input name="first_name" type="text" placeholder="Entrez votre prénom"
                           class="form-control login-field">
                    <label class="login-field-icon fui-user" for="first_name"></label>
                </div>

                <div class="form-group">
                    <input name="last_name" type="text" placeholder="Entrez votre nom"
                           class="form-control login-field">
                    <label class="login-field-icon fui-user" for="last_name"></label>
                </div>

                <div class="form-group">
                    <input id="email" name="email" type="text" placeholder="Entrez votre email@helb-prigogine.be"
                           class="form-control login-field">
                    <label class="login-field-icon fui-mail" for="email"></label>
                </div>

                <div class="form-group">
                    <input name="confMail" type="text" placeholder="Confirmez votre email"
                           class="form-control login-field">
                    <label class="login-field-icon fui-mail" for="email"></label>
                </div>

                <div class="form-group">
                    <input id="password" name="password" type="password" placeholder="Entrez votre mot de passe"
                           class="form-control login-field">
                    <label class="login-field-icon fui-lock" for="password"></label>
                </div>

                <div class="form-group">
                    <input name="confPassword" type="password" placeholder="Confirmez votre mot de passe"
                           class="form-control login-field">
                    <label class="login-field-icon fui-lock" for="confPassword"></label>
                </div>
                <label class="radio">
                    <input type="radio" id="radioStudent" name="radioLevel" value="student" checked
                           class="" data-toggle="radio">
                    Etudiant
                </label>

                <label class="radio">
                    <input type="radio" id="radioTeacher" name="radioLevel" value="teacher"
                           class="" data-toggle="radio">
                    Professeur
                </label>

                <button class="btn btn-primary btn-lg btn-block " type="submit">Inscription</button>
                <a class="btn btn-inverse btn-lg  btn-block" href="/auth/login">
                    Déjà inscrit ?
                </a>
                <a class="login-link" href="/auth/forgot-password">Mot de passe oublié?</a>
                <input name="_csrf" type="hidden" value="<%= _csrf %>">
            </form>

        </div>
    </div>



</div>
