<div class="col-lg-12" ng-app="organitech">
    <h2>Gestion des roles des étudiants dans un exercice</h2>

    <div class="login-form">
        <div ng-controller="RoleCtrl as role">
            <button class="btn btn-large btn-success" ng-click="role.switchToCreateState();">Nouveau</button>
            <button class="btn btn-large btn-success"
                    confirmed-click="role.refresh();"
                    ng-confirm-click="Veuillez sauvegarder avant de rafraichir, sinon vous perdrez tout ! Etes-vous sur de vouloir continuer?">
                Rafraichir
            </button>
            <div class="row" ng-if="!role.isEmpty">
                <div class="col-lg-4 exercice-angular-divInfiniteScroll">
                    <div class="exercice-angular-liste" infinite-scroll=' role.nextRoles()'
                         infinite-scroll-parent=true>
                        <li ng-repeat="rl in role.roles" class="list-group">
                            <a href="#" ng-click="role.changeCurrentRoleDisplayed($index)"
                               class="list-group-item active ">
                                <button class="btn btn-danger btn-right"
                                        confirmed-click="role.deleteRole($index)"
                                        ng-confirm-click="Etes vous sur de vouloir suprimer cet role DEFINITIVEMENT ?"
                                        >Supprimer
                                </button>
                                {{rl.name}}
                            </a>
                        </li>
                    </div>
                </div>

                <toaster-container toaster-options="{'closeButton': true,
                                              'debug': false,
                                              'progressBar': true,
                                              'positionClass': 'toast-top-right',
                                              'onclick': null,
                                              'showDuration': '300',
                                              'hideDuration': '1000',
                                              'timeOut': '5000',
                                              'extendedTimeOut': '1000',
                                              'showEasing': 'swing',
                                              'hideEasing': 'linear',
                                              'showMethod': 'fadeIn',
                                              'hideMethod': 'fadeOut'}"></toaster-container>
                <div class="col-lg-8 exercice-angular-form">
                    <form role="form" id="form-role" name="form" novalidate>
                        <div class="form-group">
                            <label for="name">Nom du role</label>
                            <input validator="required" type="text" class="form-control login-field" id="name"
                                   placeholder="Entrez le nom du role" name="name"
                                   ng-model="role.currentRole.name" autofocus>
                        </div>


                        <button validation-submit="form" type="submit" class="btn btn-success btn-wide"
                                ng-if="role.isCreating" ng-click="role.createRole()">Sauvegarder
                        </button>
                        <button validation-submit="form" type="submit" class="btn btn-success btn-wide"
                                ng-if="!role.isCreating" ng-click="role.updateRole()">Mettre a jours
                        </button>

                        <!--AFFICHE FORM : {{form | json}}-->
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" ng-if="role.isEmpty">
                    Il n' y a pas de role enregistré, veuillez en créer
                </div>
            </div>
        </div>
    </div>
</div>