<div class="col-lg-12" ng-app="organitech">
    <h2>Création de kit</h2>

    <div class="exercice-angular">
        <div ng-controller="KitCtrl as kit">
            <button class="btn btn-large btn-success" ng-click="kit.switchToCreateState();">Nouveau</button>
            <button class="btn btn-large btn-success"
                    confirmed-click="kit.refresh();"
                    ng-confirm-click="Veuillez sauvegarder avant de rafraichir, sinon vous perdrez tout ! Etes-vous sur de vouloir continuer">
                Rafraichir
            </button>
            <div class="row">
                <div class="col-lg-4 exercice-angular-divInfiniteScroll">
                    <div class="exercice-angular-liste" infinite-scroll='kit.nextKit()' infinite-scroll-parent=true>
                        <li ng-repeat="ki in kit.typeKits" class="list-group">
                            <a href="#" ng-click="kit.changeCurrentTypeKitsDisplayed($index)"
                               class="list-group-item active ">
                                {{ki.name}}
                            </a>
                        </li>
                    </div>
                </div>
                <div class="col-lg-8 exercice-angular-divInfiniteScroll">
                    <div ng-if="kit.displayedKits.length >0">
                        <div class="panel-group" bs-collapse>
                            <div class="panel panel-default" ng-repeat="kits in kit.displayedKits"
                                 ng-init="kitsIndex = $index">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a bs-collapse-toggle ng-click="kit.changeCurrentKitDisplayed($index)">
                                            Num de série : {{ kits.numeroSerie }}
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse" bs-collapse-target>
                                    <div class="panel-body">
                                        <form role="form" id="form-exercice" name="form" novalidate>
                                            <div class="form-group">
                                                <label for="name">Numero de serie</label>
                                                <input validator="required" type="text" class="form-control"
                                                       id="numeroSerie"
                                                       placeholder="Entrez le numero de serie du kit" name="numeroSerie"
                                                       ng-model="kit.currentKit.numeroSerie" class="form-control login-field">
                                            </div>

                                            <div class="form-group">
                                                <label for="description">Description</label>
                                                <textarea validator="required" class="form-control" id="description"
                                                          placeholder="Entrez la description du kit" name="description"
                                                          ng-model="kit.currentKit.description" class="form-control login-field"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="kitType">Type de Kit</label>
                                                <select ng-options="type.name for type in kit.typeKits"
                                                        ng-model="kit.currentKit.type"></select>

                                                <button validation-submit="form" type="submit" class="btn btn-default"
                                                        ng-if="!kit.isCreating" ng-click="kit.updateKit()">Mettre à jour
                                                </button>

                                            </div>
                                        </form>
                                        <button class="btn btn-danger btn-right"
                                                confirmed-click="kit.deleteKit($index)"
                                                ng-confirm-click="Etes vous sur de vouloir suprimer ce kit DEFINITIVEMENT ?"
                                                >Supprimer
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8" ng-if="kit.isCreating">
                        <form role="form" id="form-exercice" name="form" novalidate>
                            <div class="form-group">
                                <label for="name">Numero de serie</label>
                                <input validator="required" type="text" class="form-control" id="numeroSerie"
                                       placeholder="Entrez le numero de serie du kit" name="numeroSerie"
                                       ng-model="kit.currentKit.numeroSerie" class="form-control login-field">
                            </div>

                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea validator="required" class="form-control" id="description"
                                          placeholder="Entrez la description du kit" name="description"
                                          ng-model="kit.currentKit.description" class="form-control login-field"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="kitType">Type de Kit</label>
                                <select ng-options="type.name for type in kit.typeKits"
                                        ng-model="kit.currentKit.type" ></select>

                                <button validation-submit="form" type="submit" class="btn btn-default"
                                        ng-if="kit.isCreating" ng-click="kit.createKit()">Sauvegarder
                                </button>

                            </div>
                        </form>


                    </div>

                    <div class="row">
                        <div class="col-lg-12" ng-if="kit.isEmpty">
                            Il n' y a pas de kit enregistré pour ce type, veuillez en créer

                </div>
            </div>
        </div>
