<div class="col-lg-12" ng-app="organitech">
  <h2>Création d'évaluations</h2>

  <div class="exercice-angular">
    <div ng-controller="EvaluationCtrl as ctrl">
      <div class="row" ng-if="!ctrl.isEmpty">
        <div class="col-lg-4 exercice-angular-divInfiniteScroll">
          <div class="exercice-angular-liste" infinite-scroll='ctrl.nextExercices()'
               infinite-scroll-parent=true>
            <li ng-repeat="exo in ctrl.exercices" class="list-group">
              <a href="#" ng-click="ctrl.changeCurrentExerciceDisplayed($index)"
                 class="list-group-item active ">
                {{exo.name}}
              </a>
            </li>
          </div>
        </div>

        <div class="col-lg-8 exercice-angular-form">
          <div class="form-group">
            <label for="name">Nom de l'exercice</label>
                            <span id="name"
                                  name="name">{{ctrl.currentExercice.name}}</span>
          </div>
          <div ng-if="ctrl.currentExercice.max_member==1">
            <label for="teams">Etudiant(s) inscrit : </label>

            <div ng-if="ctrl.currentTeams.length ==0">
              Il n'y a pas d'etudiant inscrit
            </div>
            <div ng-if="ctrl.currentTeams.length >0">
              <div ng-if="ctrl.currentTeams.length >0">
                <div class="panel-group" ng-model="ctrl.currentTeam.activePanel" bs-collapse>
                  <div class="panel panel-default" ng-repeat="team in ctrl.currentTeams"
                       ng-init="teamIndex = $index">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a bs-collapse-toggle ng-click="ctrl.getCurrentEvaluations($index);">
                          {{ team.team_user[0].user.first_name }} {{ team.team_user[0].user.last_name }}
                        </a>
                      </h4>
                    </div>
                    <div class="panel-collapse" bs-collapse-target>
                      <div class="panel-body">
                        <h5>Evaluations de l'étudiant</h5>
                        <table>
                          <tr>
                            <td width="25%">
                              Note
                            </td>
                            <td width="60%">
                              Commentaire
                            </td>
                          </tr>
                          <tr ng-repeat="evaluation in ctrl.currentEvaluations">
                            <td>{{evaluation.mark}} /  {{evaluation.ponderation}}</td>
                            <td>{{evaluation.comment}}</td>
                            <td><button class="btn btn-danger btn-right"
                                        confirmed-click="ctrl.deleteEvaluation($index)"
                                        ng-confirm-click="Etes vous sur de vouloir suprimer cette evaluation DEFINITIVEMENT ?"
                                >Supprimer
                              </button></td>
                          </tr>
                          <tr>
                            <td>
                              <input type="text" placeholder="Note"
                                     ng-model="ctrl.currentEvaluation.mark" name="mark" validator="required, number" size="5"> / <input type="text" placeholder="Ponde"
                                                                                                                                        ng-model="ctrl.currentEvaluation.ponderation" name="ponderation" validator="required, number" size="5">
                            </td>
                            <td>
                              <input type="text" placeholder="Commentaires"
                                     ng-model="ctrl.currentEvaluation.comment" name="comment" validator="required">
                            </td>
                            <td>
                              <button validation-submit="form" type="submit" class="btn btn-default"
                                      ng-click="ctrl.createEvaluation($index)">Sauvegarder
                              </button>
                            </td>
                          </tr>
                            </table>
                          </form>

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div ng-if="ctrl.currentExercice.max_member!=1">
              <label for="teams">Equipe(s) : </label>

              <div ng-if="ctrl.currentTeams.length ==0">
                Il n'y a pas d'équipes inscrites
              </div>
              <div ng-if="ctrl.currentTeams.length >0">
                <div class="panel-group" ng-model="ctrl.currentTeam.activePanel" bs-collapse>
                  <div class="panel panel-default" ng-repeat="team in ctrl.currentTeams"
                       ng-init="teamIndex = $index">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a bs-collapse-toggle ng-click="ctrl.getCurrentEvaluations($index);">
                          Equipe n°{{ team.id }} de {{ team.team_user[0].user.first_name }} {{
                          team.team_user[0].user.last_name }}
                        </a>
                      </h4>
                    </div>
                    <div class="panel-collapse" bs-collapse-target>
                      <div class="panel-body">
                        <h5>Membres de l'équipe</h5>
                        <ul>
                          <li ng-repeat="userRoles in team.team_user">
                            {{userRoles.user.first_name}} {{userRoles.user.last_name}} -
                            {{userRoles.roles.name}}
                          </li>
                        </ul>
                        <h5>Evaluations de l'équipe</h5>
                        <table>
                          <tr>
                            <td width="25%">
                              Note
                            </td>
                            <td width="60%">
                              Commentaire
                            </td>
                          </tr>
                          </tr>
                          <tr ng-repeat="evaluation in ctrl.currentEvaluations">
                            <td>{{evaluation.mark}} / {{evaluation.ponderation}} </td>
                            <td>{{evaluation.comment}}</td>
                            <td><button class="btn btn-danger btn-right"
                                        confirmed-click="ctrl.deleteEvaluation($index)"
                                        ng-confirm-click="Etes vous sur de vouloir suprimer cette evaluation DEFINITIVEMENT ?"
                                >Supprimer
                              </button></td>
                          </tr>
                          <tr>
                            <form role="form" id="form-exercice" name="form" novalidate>
                            <td>
                              <input type="text" placeholder="Note"
                                     ng-model="ctrl.currentEvaluation.mark" name="mark" size="5"> / <input type="text" placeholder="Ponde"
                                                                                                                               ng-model="ctrl.currentEvaluation.ponderation" name="ponderation" size="5">

                            </td>
                            <td>
                              <input type="text" placeholder="Commentaires"
                                     ng-model="ctrl.currentEvaluation.comment" name="comment" class="form-control login-field">
                            </td>
                            <td>
                              <button validation-submit="form" type="submit" class="btn btn-default"
                                      ng-click="ctrl.createEvaluation($index)">Sauvegarder
                              </button>
                            </td>
                            </form>
                          </tr>
                        </table>


                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>

        </div>
        <div class="row">
          <div class="col-lg-12" ng-if="ctrl.isEmpty">
            Il n' y a pas d'exercices enregistrer
          </div>
        </div>
      </div>
    </div>
  </div>
