<div class="col-lg-12" ng-app="organitech">
    <h2>Création d'exercice</h2>

    <div class="login-form">
        <div ng-controller="ExerciceCtrl as exercice">
            <toaster-container toaster-options="{'closeButton': true,
                                              'debug': false,
                                              'progressBar': true,
                                              'positionClass': 'toast-top-right',
                                              'onclick': null,
                                              'showDuration': '300',
                                              'hideDuration': '1000',
                                              'timeOut': '5000',
                                              'extendedTimeOut': '1000',
                                              'showEasing': 'swing',
                                              'hideEasing': 'linear',
                                              'showMethod': 'fadeIn',
                                              'hideMethod': 'fadeOut'}"></toaster-container>
            <button class="btn btn-large btn-success" ng-click="exercice.switchToCreateState();">Nouveau</button>
            <button class="btn btn-large btn-success"
                    confirmed-click="exercice.refresh();"
                    ng-confirm-click="Veuillez sauvegarder avant de rafraichir, sinon vous perdrez tout ! Etes-vous sur de vouloir continuer">
                Rafraichir
            </button>

            <div class="row" ng-if="!exercice.isEmpty">

                <div class="col-lg-4 exercice-angular-divInfiniteScroll">
                    <div class="exercice-angular-liste" infinite-scroll='exercice.nextExercices()'
                         infinite-scroll-parent=true>
                        <li class="list-group" ng-repeat="exo in exercice.exercices">
                            <a href="#" class="list-group-item active "
                               ng-click="exercice.changeCurrentExerciceDisplayed($index)">

                                <button class="btn btn-danger btn-right"
                                        ng-if="exercice.checkIfAuthorById(exo.author.id)"
                                        confirmed-click="exercice.deleteExercice($index)"
                                        ng-confirm-click="Etes vous sur de vouloir suprimer cet exercice DEFINITIVEMENT ?"
                                        >Supprimer
                                </button>

                                <button class="btn btn-danger btn-right"
                                        ng-style="exo.type.couleur === 'Jaune' && {'background-color': 'yellow'} ||
                                         exo.type.couleur === 'Vert' && {'background-color': 'green'} ||
                                         exo.type.couleur === 'Rouge' && {'background-color': 'red'} ||
                                         exo.type.couleur === 'Violet' && {'background-color': 'purple'} ||
                                         exo.type.couleur === 'Bleu' && {'background-color': 'blue'} ||
                                         exo.type.couleur === 'Blanc' && {'background-color': 'white'} ||
                                         exo.type.couleur === '' && {'background-color': ''}">
                                    &nbsp&nbsp&nbsp&nbsp
                                </button>
                                {{exo.name}}
                            </a>
                        </li>
                    </div>
                </div>



                <div class="col-lg-8 exercice-angular-form">
                    <form id="form-exercice" name="form" role="form" novalidate>
                        <div class="form-group">
                            <label class="login-field-icon fui-document" for="name"></label>
                            <input id="name" name="name" type="text" placeholder="Entrez le nom de l'exercice"
                                   class="form-control login-field" ng-model="exercice.currentExercice.name" validator="required">
                        </div>
                        <i class="fui-info-circle" style="cursor: pointer"
                           title="Une fois sauvegardé, il n'est plus possible de MODIFIER cette valeur"></i>
                        <div class="form-group">

                            <input id="max_member" name="max_member" type="text"
                                   placeholder="Entrez la taille des equipes" class="form-control login-field"
                                   ng-disabled="!exercice.isCreating"
                                   ng-model="exercice.currentExercice.max_member" validator="required, number">
                            <label class="login-field-icon fui-document" for="max_member"></label>

                        </div>

                        <div class="form-group">
                            <label class="login-field-icon fui-document" for="description"></label>
                            <textarea id="description" name="description"
                                      placeholder="Entrez la description de l'exercice ainsi que les eventuels roles et/ou kits mis à disposition"
                                      class="form-control login-field" ng-model="exercice.currentExercice.description"
                                      validator="required"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="control-label"><i class="fui-calendar"></i> <i class="fui-arrow-right"></i><i class="fui-arrow-left"></i>
                                <i class="fui-calendar"></i> Durée de l'exercice</label><br>

                            <div class="col-lg-6 form-group">
                                <input id="date_begin" name="date_begin" placeholder="Date de début de l'exercice"
                                       class="form-control" ng-model="exercice.currentExercice.date_begin"
                                       date-format="dd/MM/yyyy" data-max-date="{{exercice.currentExercice.date_end}}"
                                       bs-datepicker type="text">
                            </div>

                            <div class="col-lg-6 form-group">
                                <input id="date_end" name="date_end" placeholder="Date limite de l'exercice"
                                       class="form-control" ng-model="exercice.currentExercice.date_end"
                                       date-format="dd/MM/yyyy" data-min-date="{{exercice.currentExercice.date_begin}}"
                                       bs-datepicker type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="type"></label>

                            <select id="type" name="type" class="form-control" ng-model="exercice.currentExercice.type"
                                    ng-options="exerciceType as exerciceType.name for exerciceType in exercice.exerciceTypes">
                                <option style="display:none" value="">Please select a value</option>
                            </select>

                            <hr>
                        </div>

                        <div class="form-group">
                            <i class="fui-info-circle" style="cursor: pointer"
                               title="Une fois sauvegardé, il n'est plus possible de RETIRER un role"></i>
                            <label for="roles"></label><br>
                            <ui-select id="roles" name="roles" multiple ng-model="exercice.currentExercice.multiRoles"
                                       theme="select2" ng-disabled="disabled" style="width: 800px;">
                                <ui-select-match placeholder="Selectionnez les roles autorisés pour l'exercice...">
                                    {{$item.name}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="role in exercice.roles | propsFilter: {name: $select.search, id: $select.search}">
                                    <div ng-bind-html="vm.role.name | highlight: $select.search"></div>
                                    <small>
                                        {{role.name}}
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group">
                            <i class="fui-info-circle" style="cursor: pointer"
                               title="Une fois sauvegardé, il n'est plus possible de RETIRER un kit"></i>
                            <label for="typeKits"></label><br>
                            <ui-select id="typeKits" name="typeKits" multiple
                                       ng-model="exercice.currentExercice.multiTypeKits"
                                       theme="select2" ng-disabled="disabled" style="width: 800px;">
                                <ui-select-match placeholder="Selectionnez les kits autorisés pour l'exercice...">
                                    {{$item.name}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="typeKit in exercice.typeKits | propsFilter: {name: $select.search, id: $select.search}">
                                    <div ng-bind-html="vm.typeKit.name | highlight: $select.search"></div>
                                    <small>
                                        {{typeKit.name}}
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<i class="fui-info-circle" style="cursor: pointer"-->
                               <!--title="Une fois sauvegarder, il n'est plus possible de changer cette valeur"></i>-->
                            <!--<label for="max_member"></label>-->
                            <!--<input id="max_member" name="max_member" type="text"-->
                                   <!--placeholder="Entrer la taille des equipes" class="form-control login-field"-->
                                   <!--ng-disabled="exercice.currentExercice.max_member != null"-->
                                   <!--ng-model="exercice.currentExercice.max_day" validator="required, number">-->
                        <!--</div>-->

                        <button validation-submit="form" type="submit" class="btn btn-success btn-wide"
                                ng-if="exercice.isCreating" ng-click="exercice.createExercice()">Sauvegarder
                        </button>
                        <button validation-submit="form" type="submit" class="btn btn-success btn-wide"
                                ng-if="exercice.checkIfAuthor() && !exercice.isCreating"
                                ng-click="exercice.updateExercice()">Mettre a jours
                        </button>

                        <!--AFFICHE FORM : {{form | json}}-->
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12" ng-if="exercice.isEmpty">
                    Il n' y a pas d'exercices enregistrés actuellement
                </div>
            </div>

        </div>
    </div>

</div>
