<div class="col-lg-12" ng-app="organitech">
    <h2>Création des groupes</h2>

    <div class="exercice-angular">
        <div ng-controller="ExerciceUserCtrl as exercice">
            <div class="row" ng-if="!exercice.isEmpty">
                <div class="col-lg-4 exercice-angular-divInfiniteScroll">
                    <div class="exercice-angular-liste" infinite-scroll='exercice.nextExercices()'
                         infinite-scroll-parent=true>
                        <li ng-repeat="exo in exercice.exercices" class="list-group">
                            <a href="#" ng-click="exercice.changeCurrentExerciceDisplayed($index)"
                               class="list-group-item active ">
                                {{exo.name}}
                            </a>
                        </li>
                    </div>
                </div>

                <div class="col-lg-15 exercice-angular-form">
                    <form role="form" id="form-exercice" name="form" novalidate>

                        <div class="form-group">
                            <label for="name">Nom de l'exercice :</label>
                            {{exercice.currentExercice.name}}
                        </div>

                        <div class="form-group">
                            <label for="max_member">Taille des equipes :</label>
                            {{exercice.currentExercice.max_member}}
                        </div>
                        <div class="form-group">
                            <label for="description">Description :</label>
                            {{exercice.currentExercice.description}}
                        </div>

                        <div class="form-group">
                            <label for="date_begin">Date de début :</label>
                            {{exercice.currentExercice.date_begin | date:'longDate'}}
                        </div>
                        <div class="form-group">
                            <label for="date_end">Date de fin :  </label>
                              {{exercice.currentExercice.date_end | date:'longDate'}}
                        </div>





                        <div class="col-lg-6 exercice-angular-divInfiniteScroll">
                            <div ng-if="exercice.currentExerciceTeams.max_member!=1">
                                <label for="teams">Equipe(s) : </label>
                            </div>
                            <div ng-if="exercice.currentExerciceTeams.length ==0">
                                Il n'y a pas d'équipe inscrite
                            </div>
                            <div ng-if="exercice.currentExerciceTeams.length >0">
                                <div class="panel-group" ng-model="exercice.currentExerciceTeam.activePanel" bs-collapse>
                                    <div class="panel panel-default" ng-repeat="team in exercice.currentExerciceTeams"
                                         ng-init="teamIndex = $index">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a bs-collapse-toggle>
                                                    team {{ team.id }}
                                                </a>
                                                <button class="btn btn-sm" width="20" align="right" ng-if="exercice.currentExercice.max_member>1 && team.team_user.length < exercice.currentExercice.max_member "
                                                        ng-click="exercice.switchToAddingState(team.id);">
                                                        Ajouter un(e) étudiant(e)
                                                </button>
                                                <button class="btn btn-sm" width="20" align="right" ng-if="exercice.currentExercice.max_member>1 && team.team_user.length < exercice.currentExercice.max_member "
                                                        confirmed-click="exercice.validation(team.id);"
                                                        ng-confirm-click="Etes vous sur de contacter au prof ?">
                                                    Envoyer une message au prof
                                                </button>
                                            </h4>
                                        </div>
                                        <div class="panel-collapse" bs-collapse-target>
                                            <div class="panel-body">
                                                <ul>
                                                    <li ng-repeat="userRoles in team.team_user">
                                                        <div ng-if="userRoles.chef">Le responsable du group:
                                                        </div>
                                                        <div>
                                                         Nom : {{userRoles.user.first_name}} {{userRoles.user.last_name}}
                                                        </div>
                                                         Role : {{userRoles.roles.name}}
                                                    </li>
                                                </ul>
                                                <div ng-if="exercice.isAdding && exercice.teamId == team.id" class="form-group">

                                                    <table border="1" width="100%">
                                                        <tr>

                                                            <td width="70%" ><angucomplete id="userEmail" placeholder="Chercher l'adresse mail de l'étudiant" pause = "100"
                                                                              selectedobject = "selectUserEmail" localdata = "exercice.users"
                                                                              searchfields="email" titlefield ="email"
                                                                              minlength="1" inputclass="form-control form-control-small" matchclass="highlight"
                                                                        ></angucomplete>
                                                                <div class="" ng-show="selectUserEmail">
                                                                    <span class="bold-span">{{selectUserEmail.originalObject.email}}</span>
                                                                </div></td>
                                                            <td>
                                                                Roles:
                                                                <SELECT id="role" name="role" size="1">
                                                                    <OPTION ng-repeat="i in exercice.currentExerciceRoles">{{i.name}}
                                                                </SELECT>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                    <button type="submit" class="btn btn-default" ng-if="exercice.currentExercice.max_member > 1"
                                                            confirmed-click="exercice.addMembre()"
                                                            ng-confirm-click="Etes vous sur de vouloir ajouter cet(te) étudiant(e) dans ce groupe ?">Sauvegarder
                                                    </button>

                                                    <button type="submit" class="btn btn-default" ng-if="exercice.isAdding"
                                                            ng-click="exercice.cancelAdding()">Annuler
                                                    </button>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                                <div ng-if="exercice.currentExercice.max_member==1">
                                    <button class="btn btn-large btn-success" ng-if="exercice.isUserAvalable"
                                            ng-click="exercice.switchToCreateState();">Travail individuels
                                    </button>

                                </div>

                                <div ng-if="exercice.currentExercice.max_member>1">
                                    <button class="btn btn-large btn-success"
                                            ng-click="exercice.switchToCreateState();">Créer un groupe
                                    </button>
                                </div>


                                <div ng-if="exercice.isTeamCreating" class="form-group">
                                    <table border="1" width="100%">
                                        <tr>
                                            <td width="10%">{{exercice.currentUser.last_name}}</td>
                                            <td width="10%">{{exercice.currentUser.first_name}}</td>
                                            <td ng-if="exercice.currentExercice.max_member >1" width="30%">Roles:
                                                <SELECT id="role" name="role" size="1">
                                                    <OPTION ng-repeat="i in exercice.currentExerciceRoles">{{i.name}}
                                                </SELECT>
                                            </td>
                                            <td ng-if="exercice.currentExercice.max_member >1" width="50%">Le responsable de groupe</td>
                                        </tr>
                                    </table>


                                    <button type="submit" class="btn btn-default" ng-if="exercice.currentExercice.max_member == 1"
                                            confirmed-click="exercice.createTeamIndividu()"
                                            ng-confirm-click="Etes vous sur de s'inscrir dans cet exercice ?">Sauvegarder
                                    </button>

                                    <button type="submit" class="btn btn-default" ng-if="exercice.currentExercice.max_member > 1"
                                            confirmed-click="exercice.createTeamGroup()"
                                            ng-confirm-click="Etes vous sur de créer une groupe dans cet exercice ?">Sauvegarder
                                    </button>

                                    <button type="submit" class="btn btn-default" ng-if="exercice.isTeamCreating"
                                            ng-click="exercice.cancelCreationTeam()">Annuler
                                    </button>
                                </div>


                        </div>


                        <!--AFFICHE FORM : {{form | json}}-->
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" ng-if="exercice.isEmpty">
                    Il n' y a pas d'exercice enregistré.
                </div>
            </div>
        </div>
    </div>
</div>