body {
/*
    min-height: 2000px;
*/
    padding-top: 90px;
}

/*
    Smart Table sorting
*/
.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

.st-selected{
    background: #216eff !important;
    color: white !important;
}

.exercice-angular{
    background-color: #ececec;
    border: 1px solid #9EC03B;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 8px;
}
.exercice-angular-divInfiniteScroll
{
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
}
.exercice-angular-liste{
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 5px;
}

.exercice-angular-liste-element{
    background-color: #A9A9A9;
}



.exercice-angular-form{
}


.couleurExoJaune
{
    background-color: #ffff00;
    color: #ffff00;
}

.couleurExoNone
{
    background-color: black;
    color: black;
}


