<div class="col-lg-12" ng-app="organitech">
    <h2>Gestion des matériaux </h2>

    <div class="login-form">
        <div ng-controller="MaterielCtrl as materiel">
            <button class="btn btn-large btn-success" ng-click="materiel.switchToCreateState();">Nouveau</button>
            <div class="row" ng-if="!materiel.isEmpty">
                <div class="col-lg-4 exercice-angular-divInfiniteScroll">
                    <div class="exercice-angular-liste" infinite-scroll='materiel.nextMateriel()'
                         infinite-scroll-parent=true>
                        <li ng-repeat="tpMat in materiel.materiels" class="list-group">
                            <a href="#" ng-click="materiel.changeCurrentMaterielDisplayed($index)"
                               class="list-group-item active ">
                                <button class="btn btn-danger btn-right"
                                        confirmed-click="materiel.deleteMateriel($index)"
                                        ng-confirm-click="Etes vous sur de vouloir supprimer cet matériel DEFINITIVEMENT ?"
                                        >Supprimer
                                </button>
                                {{tpMat.nom}}
                            </a>
                        </li>
                    </div>
                </div>

                <toaster-container toaster-options="{'closeButton': true,
                                              'debug': false,
                                              'progressBar': true,
                                              'positionClass': 'toast-top-right',
                                              'onclick': null,
                                              'showDuration': '300',
                                              'hideDuration': '1000',
                                              'timeOut': '5000',
                                              'extendedTimeOut': '1000',
                                              'showEasing': 'swing',
                                              'hideEasing': 'linear',
                                              'showMethod': 'fadeIn',
                                              'hideMethod': 'fadeOut'}"></toaster-container>

                <div class="col-lg-8 exercice-angular-form">
                    <form role="form" id="form-materiel" name="form" novalidate>
                        <div class="form-group">
                            <label for="nom">Nom du materiel</label>
                            <input validator="required" type="text" class="form-control login-field" id="nom"
                                   placeholder="Entrez le nom du materiel" name="nom"
                                   ng-model="materiel.currentMateriel.nom" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="nom">Photo du materiel</label>
                            <input validator="required" type="text" class="form-control login-field" id="picture"
                                   placeholder="Entrez la photo du materiel" name="picture"
                                   ng-model="materiel.currentMateriel.picture" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="nom">Manuel du materiel</label>
                            <input validator="required" type="text" class="form-control login-field" id="instructionManuel"
                                   placeholder="Entrez le manuel du materiel" name="instructionManuel"
                                   ng-model="materiel.currentMateriel.instructionManuel" autofocus>
                        </div>

                        <button validation-submit="form" type="submit" class="btn btn-success btn-wide"
                                ng-if="materiel.isCreating" ng-click="materiel.createMateriel()">Sauvegarder
                        </button>
                        <button validation-submit="form" type="submit" class="btn btn-success btn-wide"
                                ng-if="!materiel.isCreating" ng-click="materiel.updateMateriel()">Mettre a
                            jours
                        </button>

                        <!--AFFICHE FORM : {{form | json}}-->
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" ng-if="materiel.isEmpty">
                    Il n' y a pas de materiel enregistré, veuillez en créer
                </div>
            </div>
        </div>
    </div>
</div>