<!--http://jsfiddle.net/meganelp/jqmHA/-->

<div class="row" ng-app="organitech">
    <toaster-container toaster-options="{'closeButton': true,
                                              'debug': false,
                                              'progressBar': true,
                                              'positionClass': 'toast-top-right',
                                              'onclick': null,
                                              'showDuration': '300',
                                              'extendedTimeOut': '1000',
                                              'showEasing': 'swing',
                                              'hideEasing': 'linear',
                                              'showMethod': 'fadeIn',
                                              'hideMethod': 'fadeOut'}"></toaster-container>
    <div ng-controller="DashboardCalendarCtrl as ctrl">
        <button class="btn btn-large btn-success"
                confirmed-click="ctrl.refresh();"
                ng-confirm-click="Veuillez sauvegarder avant de rafraichir, sinon vous perdrez tout ! Etes-vous sur de vouloir continuer?">
            Rafraichir
        </button>
        <tabset>
            <tab select="ctrl.renderCalender('calendarExercice');">
                <tab-heading>
                    <i class="glyphicon "></i> Exercices
                </tab-heading>

                <div class="col-lg-12" ng-model="ctrl.exercicesCalendar" calendar="calendarExercice"
                     id="calendarExercice"
                     ui-calendar="ctrl.uiConfigCal.calendar"
                        ></div>
            </tab>


        </tabset>
    </div>

</div>