<div class="container">
    <div class="row" ng-app="organitech" ng-controller="ProfilCtrl as profil">
        <toaster-container toaster-options="{'closeButton': true,
                                              'debug': false,
                                              'progressBar': true,
                                              'positionClass': 'toast-top-right',
                                              'onclick': null,
                                              'showDuration': '300',
                                              'hideDuration': '1000',
                                              'timeOut': '5000',
                                              'extendedTimeOut': '1000',
                                              'showEasing': 'swing',
                                              'hideEasing': 'linear',
                                              'showMethod': 'fadeIn',
                                              'hideMethod': 'fadeOut'}"></toaster-container>
        <div class="col-lg-12 col-md-12 col-sm-12 login-form" ng-if="!profil.isEditing">
            <h2>Profil
                <button class="pull-right btn btn-primary " ng-click="profil.editProfil();"> Editer</button>
            </h2>

            <div class="form-group">
                <label for="prenom">Prenom :</label>


                <span id="prenom">{{profil.user.first_name}}</span>
            </div>
            <div class="form-group">
                <label for="nom">Nom :</label>
                <span id="nom">{{profil.user.last_name}}</span>
            </div>
            <div class="form-group">
                <label for="email">Email : </label>
                <span id="email">{{profil.user.email}}</span>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe :</label>
                <span id="password">***********</span>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 login-form" ng-if="profil.isEditing">

            <h2>Edition
                <button class="btn btn-warning pull-right" ng-if="profil.isEditing" ng-click="profil.cancelEditing();"> Annuler</button>
            </h2>

            <div class="form-group">
                <input class="form-control login-field" type="text" placeholder="Prénom" name="first_name"
                       ng-model="profil.userEdited.first_name">
                <label class="login-field-icon fui-user" for="first_name"></label>
            </div>
            <div class="form-group">
                <input class="form-control login-field" type="text" placeholder="Nom" name="last_name"
                       ng-model="profil.userEdited.last_name">
                <label class="login-field-icon fui-user" for="last_name"></label>
            </div>
            <div class="form-group">
                <input class="form-control login-field" type="password" placeholder="Entrez votre nouveau mot de passe" id="password"
                       name="password"
                       ng-model="profil.userEdited.password">
                <label class="login-field-icon fui-lock" for="password"></label>
            </div>
            <div class="form-group">
                <input class="form-control login-field" type="password" placeholder="Confirmez votre nouveau mot de passe" id="passwordConfirm"
                       name="passwordConfirm"
                       ng-model="profil.passwordConfirm">
                <label class="login-field-icon fui-lock" for="passwordConfirm"></label>
            </div>

            <input type="submit" class="btn btn-primary btn-lg btn-block" ng-click="profil.updateUserCredentials();"
                   value="Sauvegarder">
        </div>
    </div>
</div>

