<div class="col-lg-12" ng-app="organitech">
    <h2>Gestion des equipes</h2>

    <div class="login-form" ng-controller="AdminTeamCtrl as ctrl">
        <button class="btn btn-large btn-success"
                confirmed-click="ctrl.refresh();"
                ng-confirm-click="Veuillez sauvegarder avant de rafraichir ! Etes-vous sur de vouloir continuer ?">
            Rafraichir
        </button>
        <div class="row" ng-if="!ctrl.isEmpty">
            <div class="col-lg-4 exercice-angular-divInfiniteScroll">
                <div class="exercice-angular-liste" infinite-scroll='ctrl.nextExercices()'
                     infinite-scroll-parent=true>
                    <ul>
                        <li ng-repeat="exo in ctrl.exercices" class="list-group">
                            <a href="#" ng-click="ctrl.changeCurrentExerciceDisplayed($index)"
                               class="list-group-item active ">
                                {{exo.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-8">
                <button class="btn btn-primary pull-right" ng-if="!ctrl.isEditing" ng-click="ctrl.switchEditing();">
                    Editer
                </button>
                <button class="pull-right btn btn-warning" ng-if="ctrl.isEditing" ng-click="ctrl.resetAllState();">
                    Annuler
                </button>
                <button class="pull-right btn btn-danger"
                        ng-if="ctrl.isEditing && !ctrl.isMovingUserFromTeamToOtherTeam  "
                        ng-click="ctrl.switchDeletingUserInTeam();">
                    Suppression
                    de membres de groupes
                </button>
                <!--<button class="btn btn-warning pull-right"-->
                <!--ng-if="ctrl.isEditing&& !ctrl.isDeletingUserInTeam && ctrl.currentExercice.max_member>1 && ctrl.currentTeams.length>=2"-->
                <!--ng-click="ctrl.switchMovingUserFromTeamToOtherTeam();">-->
                <!--Déplacement-->
                <!--de membres de groupes-->
                <!--</button>-->


                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="name">Nom de l'exercice</label>
                            <span id="name"
                                  name="name">{{ctrl.currentExercice.name}}</span>
                        </div>

                        <div class="form-group">
                            <label for="max_member">Taille des équipes</label>
                            <span id="max_member"
                                  name="max_member">{{ctrl.currentExercice.max_member}}</span>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>

                            <div id="description"
                                 name="description">{{ctrl.currentExercice.description}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label > Durée de l'exercice</label><br>
                            Du
                             <span id="date_begin"
                                   name="date_begin">{{ctrl.currentExercice.date_begin | date}}</span>
                            au
                             <span id="date_end"
                                   name="date_end">{{ctrl.currentExercice.date_end | date}}</span>
                        </div>
                        <div ng-if="ctrl.currentExercice.max_member==1">
                            <label for="teams">Etudiant(s) inscrit : </label>

                            <div ng-if="ctrl.currentTeams.length ==0">
                                Il n'y a pas d'étudiant inscrit
                            </div>
                            <div ng-if="ctrl.currentTeams.length >0">
                                <ul>
                                    <li ng-repeat="team in ctrl.currentTeams">
                                        <p ng-if="team.team_user[0]">
                                            {{ team.team_user[0].user.first_name}} {{ team.team_user[0].user.last_name}} -
                                            {{ team.team_user[0].roles.name}}
                                            <button class="btn btn-danger" ng-if="ctrl.isDeletingUserInTeam "
                                                    ng-click="ctrl.deleteTeam($index)();">
                                                Désinscrire cet etudiant
                                            </button>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div ng-if="ctrl.currentExercice.max_member!=1">
                            <label for="teams">Equipe(s) : </label>

                            <div ng-if="ctrl.currentTeams.length ==0">
                                Il n'y a pas d'équipes inscrites
                            </div>
                            <div ng-if="ctrl.currentTeams.length >0">
                                <div class="panel-group" ng-model="ctrl.currentTeam.activePanel" bs-collapse>
                                    <div class="panel panel-default" ng-repeat="team in ctrl.currentTeams"
                                         ng-init="teamIndex = $index">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a bs-collapse-toggle>
                                                    Team n° {{ team.id }}

                                                </a>
                                        <span class="label label-success"
                                              ng-if="ctrl.isComplete($index)">Complete</span>
                                        <span class="label label-danger"
                                              ng-if="!ctrl.isComplete($index)">Incomplete</span>
                                                <span class="label label-success" ng-if="team.validate">Valider</span>
                                                <span class="label label-danger" ng-if="!team.validate">Non valider</span>

                                                <button class="btn btn-primary"
                                                        ng-if="ctrl.isEditing && !ctrl.isDeletingUserInTeam"
                                                        ng-click="ctrl.validateTeam($index)();">
                                                    Valider/Desactiver cette team
                                                </button>
                                                <button class="btn btn-danger" ng-if="ctrl.isDeletingUserInTeam"
                                                        ng-click="ctrl.deleteTeam($index)();">
                                                    Supprimer cette team
                                                </button>
                                            </h4>
                                        </div>
                                        <div class="panel-collapse" bs-collapse-target>
                                            <div class="panel-body">
                                                <ul>
                                                    <li ng-repeat="userRoles in team.team_user">
                                                        {{userRoles.user.first_name}} {{userRoles.user.last_name}} -
                                                        {{userRoles.roles.name}}
                                                        <button class="btn btn-danger"
                                                                ng-if="ctrl.isDeletingUserInTeam  && !userRoles.chef"
                                                                ng-click="ctrl.deleteUserInTeam(teamIndex,$index)();">
                                                            Supprimer ce membre
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" ng-if="ctrl.isEmpty">
                Il n' y a pas d'exercices enregistrer
            </div>
        </div>
    </div>
</div>
