<div class="row" ng-app="organitech">
    <div class="col-lg-12" ng-controller="AdminUserCtrl as adminUser">
        <button class="btn btn-large btn-success"
                confirmed-click="adminUser.refresh();"
                ng-confirm-click="Veuillez sauvegarder avant de rafraichir, sinon vous perdrez tout ! Etes-vous sur de vouloir continuer">
            Rafraichir
        </button>
        <toaster-container toaster-options="{'closeButton': true,
                                              'debug': false,
                                              'progressBar': true,
                                              'positionClass': 'toast-top-right',
                                              'onclick': null,
                                              'showDuration': '300',
                                              'hideDuration': '1000',
                                              'timeOut': '5000',
                                              'extendedTimeOut': '1000',
                                              'showEasing': 'swing',
                                              'hideEasing': 'linear',
                                              'showMethod': 'fadeIn',
                                              'hideMethod': 'fadeOut'}"></toaster-container>
        <table st-table="adminUser.usersDisplayed" st-safe-src="adminUser.users" class="table table-striped">
            <thead>

            <tr>
                <th st-sort="first_name">Prénom</th>
                <th st-sort="last_name">Nom</th>
                <th st-sort="email">Email</th>
                <th st-sort="userlevel[0].name">Rôle</th>
                <th st-sort="activate">Compte activé</th>
                <th> Actions</th>
            </tr>
            <tr>
                <th colspan="4">
                    <!--<input st-search="" placeholder="recherchez ..." class="input-sm form-control" type="search"/>-->
                    <div class="input-group">
                        <input st-search="" class="form-control"  type="search"
                               placeholder="Recherchez ...">
                        <span class="input-group-btn">
                        <button type="submit" class="btn"><span class="fui-search"></span></button>
                        </span>
                    </div>

                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in adminUser.usersDisplayed">
                <td>{{row.first_name | lowercase}}</td>
                <td>{{row.last_name | uppercase}}</td>
                <td>{{row.email | lowercase}}</td>
                <td>{{adminUser.translateUserLevel(row.userlevel[0].name) }}</td>
                <td><span class="label"
                          confirmed-click="adminUser.activateUserAccount($index)"
                          ng-confirm-click="Etes vous sur de vouloir activer/desactiver ce compte  ?"

                          ng-class="{'label-success': row.activate,'label-danger': !row.activate }">{{row.activate ? 'Oui':'Non' }} </span>
                </td>
                <td>
                    <button class="btn btn-primary" ng-click="adminUser.showModalManageRole(row)">rôles</button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td class="text-center">
                    <div st-items-by-page="30" st-pagination=""></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

</div>
