<div class="col-lg-12" ng-app="organitech">
  <h2>Recherche d'utilisateurs</h2>

  <div class="exercice-angular">
    <div ng-controller="SearchCtrl as search">
      Search : <input ng-model="searchText" class="form-control login-field">

      <div class="row" ng-if="!users.isEmpty">

        <div class="col-lg-4 exercice-angular-divInfiniteScroll">
          <div class="exercice-angular-liste">
            <li class="list-group" ng-repeat="user in search.users | filter:searchText">
              <a href="#" class="list-group-item active "
                 ng-click="search.changeCurrentUserDisplayed(user.id)">
                {{user.first_name}} {{user.last_name}}
              </a>
            </li>
          </div>
        </div>

        <div class="col-lg-8 exercice-angular-form" ng-if="search.isLoadedFirst">
            <div class="form-group">
              <label for="name">Nom : </label>
              {{search.currentUser.first_name}} {{search.currentUser.last_name}}
            </div>

            <div class="form-group">
              <label for="email">Email : </label>
              {{search.currentUser.email}}
            </div>

          <div class="form-group">
            <label for="moyenne">Moyenne : </label>
            {{search.moyenneCurrentUser}} / {{search.moyennePonderation}}
          </div>

           <div class ="form-group" ng-if="search.isUserInTeam">
              <ul>
                <li ng-repeat="team in search.currentTeams">
                Equipe n°{{team.id}} de l'exercice :  "{{team.exercice.name}}"
                  <ul>
                    <li ng-repeat="eval in team.evaluation">
                        {{eval.mark}} / {{eval.ponderation}} - {{eval.comment}}
                    </li>
                  </ul>
                </li>
              </ul>

            </div>
            <div class="form-group" ng-if="!search.isUserInTeam">
              Cet utilisateur n'est inscrit dans aucune équipe.
            </div>

        </div>
      </div>

      <div class="row">
        <div class="col-lg-12" ng-if="search.isEmptyUsers">
          Il n' y a pas d'étudiant enregistré actuellement
        </div>
      </div>
    </div>
  </div>

</div>
