<div class="modal-header">
    <h3 class="modal-title">Changement du niveau d'acces</h3>
</div>
<div class="modal-body">
    <span class="label label-danger" ng-if="modalManageUserRole.errorValidationChangeRoleUser">Code de confirmation est invalide</span>

    <select class="form-control" ng-options="modalManageUserRole.translateUserLevel(userLevel.name) for userLevel in modalManageUserRole.userLevels"
            ng-model="modalManageUserRole.selectedUserLevel"></select>

    <p>Code de confirmation : <span><b>{{modalManageUserRole.codeConfirmationChangeRoleUser}}</b></span></p>
    <input type="text" class="form-control" ng-model="modalManageUserRole.codeChangeRoleUser" placeholder="Veuillez entrer le code confirmation "/>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="modalManageUserRole.saveChangeRoleUser();">Sauvegarder</button>
    <button class="btn btn-warning" ng-click="modalManageUserRole.cancelChangeRoleUser();">Annuler</button>
</div>




